<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Properties>
    <Property name="logPath">logs</Property>
  </Properties>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] [%d{dd MMM yyyy HH:mm:ss:SSS}] %-5p (%13F:%L) : %m%n" charset="UTF-8"/>
    </Console>

    <Console name="logdna" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] [%d{dd MMM yyyy HH:mm:ss:SSS}] %-5p [%t] (%13F:%L) : %m%n" charset="UTF-8"/>
    </Console>

    <RollingFile name="rollingFile" fileName="/ci/shared/data/applogs/createcmr/CreateCMR.log" filePattern="/ci/shared/data/applogs/createcmr/CreateCMR.log-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="[%d{dd MMM yyyy HH:mm:ss:SSS}] %-5p [%t] (%13F:%L) : %m%n" charset="UTF-8"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="ERROR" additivity="false">
      <AppenderRef ref="console" />
    </Root> 
    <Logger name="com.ibm" level="TRACE" additivity="false">
      <AppenderRef ref="logdna" level="TRACE"/>
      <AppenderRef ref="rollingFile" level="DEBUG"/>
    </Logger>
  </Loggers>
</Configuration>